.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px !important;
    line-height: 26px !important;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    cursor: pointer;
    font-size: 15px !important;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: #f0560f;
    color: white !important;
}

.tag:hover::after {
    border-left-color: #f0560f;
}

.article-card:hover:not(.tags) {
    transform: scale(1);
    transform: translateY(-10px);
}


/* FOR CSS BUTTON CUSTOM */
.vcl-buttons {
    margin: 10%;
    text-align: center;
}

.vcl-btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    line-height: 44px;
}

.vcl-btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #fff;
}

.vcl-btn-hover:focus {
    outline: none;
}

.vcl-btn-hover.vcl-color-primary {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.vcl-bg-primary {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    color: #fff !important;
    background-size: 300% 100%;
}

.vcl-bg-primary:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.pagination {
    justify-content: center;
}

.badge-sm {
    min-width: 1em;
    padding: .1em 1em !important;
    margin-left: .1em;
    margin-right: .1em;
    color: white !important;
    cursor: pointer;
    font-size: .8em !important;
}

.navbar-toggler {
    outline: none !important;
}

.article-meta h3 {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    font-family: 'Playfair display';
}

.hero-title-post h1 {
    font-size: 72px;
    font-size: 2em;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    transition: 500ms;
}

.hero-title-post h2 {
    font-size: 20px;
    line-height: 30px;
    color: #404040;
}

.hero-meta h2 {
    font-size: 20px;
    line-height: 30px;
    color: #404040;
}